<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gocubetech.aideye">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.nfc" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aid_eye_2_11"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aid_eye_2_11"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>

        <service
            android:name=".NfcReaderService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SettingActivity"
            android:label="Setting"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Registration"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name=".ForgotPasswordActivity"></activity>

        <activity android:name=".ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Profile"></activity>

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Login"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".OtpActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".PayPalConfig" />

        <activity android:name=".ConfirmationActivity" />

        <activity
            android:name=".PlansActivity"
            android:label="Subscription" />

        <activity android:name=".Plan" />

        <activity
            android:name=".SubscriptionActivity"
            android:label="Payment Method" />

    </application>

</manifest>